.CLASS-NAME {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1em solid transparent;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5) inset;
}
