.CLASS-NAME {
  border: 1px solid #E9E9E9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  -moz-text-shadow: 1px 1px 0 #fff;
  -webkit-text-shadow: 1px 1px 0 #fff;
  text-shadow: 1px 1px 0 white;
  background: #EFEFEF;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #EFEFEF 12px, #E5E5E5 12px, #DFDFDF 25px, #F0F0F0 25px, #F0F0F0);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(12px, #EFEFEF), color-stop(12px, #E5E5E5), color-stop(25px, #DFDFDF), color-stop(25px, #F0F0F0), color-stop(100%, #F0F0F0));
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #EFEFEF 12px, #E5E5E5 12px, #DFDFDF 25px, #F0F0F0 25px, #F0F0F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#dfdfdf',GradientType=0);
}
