.CLASS-NAME {
  background-color: #9ece9e;
  border: 1px solid #3A9C09;
  border-radius: 3px 3px 3px 0;
  box-shadow: 0 2px 4px #888888;
}

.CLASS-NAME:before {
  border-color: #679a35 #679a35 transparent transparent;
  border-style: solid;
  border-width: 5px 10px;
  content: "";
  height: 0;
  left: -2px;
  position: absolute;
  top: 100%;
}
