@import "../lib.less";
@import "skin.css";

.admin-skin .border-bar {background-color: #1f1f1f;}
.admin-skin .settings-icon {background: url('/static/img/icons-edit.png') no-repeat -1px -525px;}
#topBar.admin-skin {color: #fff;}

.admin-skin .menu-nav {position: relative;}
.admin-skin .menu-nav > li {display:inline-block;zoom:1;*display:inline; }
.admin-skin .menu-nav > li > ul {display: none;position: absolute;right:0;background: #1f1f1f;padding: 0 8px 8px 8px;}
.admin-skin .menu-nav > li:HOVER > ul {display: block;}

.admin-skin .yui3-dropdown {  cursor: pointer;  position: relative;  width: 18px;  height: 18px;  padding-right: 13px; border: 1px solid #444;}
.admin-skin .yui3-dropdown:after {  content: "";  position: absolute;  right: 3px;  top: 40%;  border-color: #FFFFFF transparent transparent;  border-style: solid;  border-width: 4px;}
.admin-skin .yui3-dropdown:before {  content: "";  position: absolute;  left: 18px; top: 0;  bottom: 0;  width: 13px; .linear-gradient-with-fallback(#6699BB, #336677);}
.admin-skin .yui3-dropdown:HOVER:before {background: #4477AA;}
.admin-skin .yui3-dropdown.active {border: 1px inset #444;}
.admin-skin .yui3-dropdown.active:before {background: #4477AA;}
.admin-skin .yui3-dropdown-large {width: 200px; height: 50px;}

.admin-skin .yui3-slider-view {width: 200px; height: 62px;border: 1px solid #000; overflow: hidden;cursor: pointer;}
.admin-skin .yui3-slider-view:HOVER {height: auto;background: #eee;}
  
.admin-skin .yui3-spinner {width: 40px;}
.admin-skin .yui3-spinner-value {width: 22px;}
.admin-skin .preview-swatch { width: 50px; height:40px;margin: 12px 5px;position: relative;}
.admin-skin .Font-Swatch::AFTER {content: "AaBb";}


/** Edit-bar Layout **/
.editbar-tabs {position: relative;}
.editbar-tabs > .yui3-tabview-list {position: absolute;top: -30px;left: 150px;}

.design-tabs {position: relative;height: 105px;}
.design-tabs > .yui3-tabview-list {position: absolute;top: -30px;left: 250px;color: #fff;}
.border-bar  {height: 30px;}

.admin-skin .container-area {border: 1px solid #000; position: absolute;width: 80%; max-width:120px; left: 10%;top: 20px;background: #333;padding: 5px 0 25px 5px;color:#fff;cursor: pointer;}
.admin-skin .container-area:HOVER {border: 2px solid #fff;color: #eee;}
.admin-skin .selected-area  {border: 1px solid #000; position: absolute;width: 80%; max-width:120px; left: 15%;top: 45px;background: #777;padding: 15px 0 10px 5px;color:#fff;cursor: pointer;}
.admin-skin .selected-area:HOVER {border: 2px solid #fff;color: #eee;}

.admin-skin .selected-element {.box-shadow(5px 0px 3px #000);height: 105px;}
.admin-skin .editbar-tabs > .yui3-tabview-panel  {background-color: #A8A090;}
.admin-skin .design-tabs .yui3-tab-panel { padding: 5px 10px;}
.admin-skin .design-blocks {padding: 0 10px 0 8px;border-right: 1px solid #000;height: 96px;}

.left-stacked {float: left;clear: left;}
.right-stacked {float: right;clear: right;}
.clearfix:AFTER {content: ""; clear: both;display: block;}
.middle-aligned > * {.inline-block(); vertical-align: middle;}


