.yui3-overlay-guide, .yui3-overlay-help, .yui3-overlay-launch, .yui3-overlay-claim,
.yui3-overlay-page,.yui3-overlay-form, .yui3-overlay-preset-create, .yui3-overlay-quickstyle {
  border: 1px solid #000000;
  .border-radius(5px 5px 3px 3px);
  background: #000000;
  height: 100%;
  color: #E4E4E4;
}

.yui3-overlay-help {
  left: auto !important;
  right: 150px !important;
  top: 35px !important;
  margin: 0 auto;
  width: 800px;
  height: 500px;
  position: fixed !important;
}

.yui3-overlay-guide {
  right: 0 !important;
  top: 300px !important;
  left: auto !important;
  bottom: auto !important;
  width: 400px;
  height: 400px;
}

.yui3-overlay-preset-create, .yui3-overlay-page, .yui3-overlay-form, .yui3-overlay-quickstyle {
  position: fixed !important;
  width: 400px;
  height: auto;
  left: 50% !important;
  top: 135px !important;
  margin-left: -200px;
  background: #000;
}

.yui3-overlay-page, .yui3-overlay-form {
  height: 450px;
  margin-left: -310px;
  width: 650px !important;
}
.yui3-overlay-form .yui3-widget-bd { height: 420px; }

.yui3-overlay-guide .yui3-widget-hd,
.yui3-overlay-preset-create .yui3-widget-hd,
.yui3-overlay-page  .yui3-widget-hd,
.yui3-overlay-form  .yui3-widget-hd,
.yui3-overlay-quickstyle .yui3-widget-hd {
  .linear-gradient-with-fallback(rgb(155, 155, 155), rgb(0, 0, 0));
  padding: 4px 2px 4px 10px;
}

.yui3-overlay-preset-create .yui3-widget-bd,
.yui3-overlay-page .yui3-widget-bd,
.yui3-overlay-form .yui3-widget-bd,
.yui3-overlay-quickstyle .yui3-widget-bd {
  font-size: 0.9em;
}

.yui3-overlay-page .yui3-widget-bd {
  height: 370px;
}

.yui3-overlay-quickstyle {
  margin-left: -400px;
  top: 60px !important;
  width: 750px;
}
.yui3-overlay-quickstyle .yui3-widget-bd {
  height: 500px;
}

.yui3-overlay-selection {
  background: #000000;
  border: 2px solid #909090;
  .box-shadow(0 3px 6px #111111);
  color: #ffffff;
  overflow: auto;
  position: fixed !important;
  left: 3px !important;
  top: 85px !important;
  width: 250px;
  z-index: 150 !important;
}

.yui3-overlay-launch {
  width: 400px;
  height: auto;
}

.yui3-overlay-claim {
  width: 450px;
  height: 220px;
}

.yui3-overlay-launch .yui3-widget-bd, .yui3-overlay-claim .yui3-widget-bd {
  padding: 10px 30px;
  line-height: 1.5;
}

.yui3-overlay-page .yui3-widget-hd,
.yui3-overlay-form .yui3-widget-hd,
.yui3-overlay-help .yui3-widget-hd,
.yui3-overlay-launch .yui3-widget-hd,
.yui3-overlay-claim .yui3-widget-hd {
  .linear-gradient-with-fallback(#000000, #666666);
  font-family: "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  padding: 6px 10px;
}

.yui3-widget-hd .close {
  float: right;
}

.yui3-overlay-help .close {
  position: absolute;
  right: 7px;
  top: 5px;
  text-indent: 99999px;
}

.yui3-longtail-overlay-hidden {
  visibility: hidden;
}

.yui-overlay-panel-frame {
  height: 100%;
  width: 100%;
  border: none;
}

.yui3-overlay-mask {
  position: fixed;
  z-index: -1;
  left:0;right:0;top:0;bottom:0;
  background: #000000;
  opacity: 0.3;
  filter:alpha(opacity=30);
}