.yui3-js-enabled .yui3-spinner-loading {
    display: none;
}

.yui3-spinner-hidden {
    display: none;
}

.yui3-spinner {
    .inline-block();
    vertical-align: middle;
    border: 1px solid #444;
    position: relative;
}

.yui3-spinner-container {
  position: absolute;
  right: 0; top: 0; bottom: 0;
  width: 11px;
}

/* Added .yui3-spinner-content to increase specificity over CSS definition */
.yui3-spinner-increment, .yui3-spinner-decrement {
    border: none;
    cursor: pointer;
    display: block;
    height: 50%;
    width: 100%;
    padding: 0;
    overflow: hidden;
    text-indent: -300px;
    position: relative;
}

.yui3-spinner-increment {.linear-gradient-with-fallback(#6699BB,#336677);}
.yui3-spinner-decrement {.linear-gradient-with-fallback(#336677,#6699BB);}
.yui3-spinner-increment:after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 2px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #fff;  
}

.yui3-spinner-decrement:after {
  content: "";
  position: absolute;
  right: 3px;
  top: 2px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #fff;  
}
