.CLASS-NAME {
  background-color: #f15587;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #f26895), color-stop(50%, #f26895), color-stop(50%, #f15587), color-stop(100%, #f15587));
  background-image: -webkit-linear-gradient(top, #f26895 0, #f26895 50%, #f15587 50%, #f15587 100%);
  background-image: -moz-linear-gradient(top, #f26895 0, #f26895 50%, #f15587 50%, #f15587 100%);
  background-image: -ms-linear-gradient(top, #f26895 0, #f26895 50%, #f15587 50%, #f15587 100%);
  background-image: -o-linear-gradient(top, #f26895 0, #f26895 50%, #f15587 50%, #f15587 100%);
  background-image: linear-gradient(top, #f26895 0, #f26895 50%, #f15587 50%, #f15587 100%);
  border: 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fcfcfc;
  text-align: center;
  text-shadow: 0px -1px 1px #a64767;
}
.CLASS-NAME:hover {
  background-color: #df3e7b;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #e2558b), color-stop(50%, #e2558b), color-stop(50%, #df3e7b), color-stop(100%, #df3e7b));
  background-image: -webkit-linear-gradient(top, #e2558b 0, #e2558b 50%, #df3e7b 50%, #df3e7b 100%);
  background-image: -moz-linear-gradient(top, #e2558b 0, #e2558b 50%, #df3e7b 50%, #df3e7b 100%);
  background-image: -ms-linear-gradient(top, #e2558b 0, #e2558b 50%, #df3e7b 50%, #df3e7b 100%);
  background-image: -o-linear-gradient(top, #e2558b 0, #e2558b 50%, #df3e7b 50%, #df3e7b 100%);
  background-image: linear-gradient(top, #e2558b 0, #e2558b 50%, #df3e7b 50%, #df3e7b 100%);
}
.CLASS-NAME:active {
  background-color: #c22b65;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #c94477), color-stop(50%, #c94477), color-stop(50%, #c22b65), color-stop(100%, #c22b65));
  background-image: -webkit-linear-gradient(top, #c94477 0, #c94477 50%, #c22b65 50%, #c22b65 100%);
  background-image: -moz-linear-gradient(top, #c94477 0, #c94477 50%, #c22b65 50%, #c22b65 100%);
  background-image: -ms-linear-gradient(top, #c94477 0, #c94477 50%, #c22b65 50%, #c22b65 100%);
  background-image: -o-linear-gradient(top, #c94477 0, #c94477 50%, #c22b65 50%, #c22b65 100%);
  background-image: linear-gradient(top, #c94477 0, #c94477 50%, #c22b65 50%, #c22b65 100%);
}
