.CLASS-NAME {
  background-color: #52a8e8;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #52a8e8), color-stop(100%, #377ad0));
  background-image: -webkit-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -moz-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -ms-linear-gradient(top, #52a8e8, #377ad0);
  background-image: -o-linear-gradient(top, #52a8e8, #377ad0);
  background-image: linear-gradient(top, #52a8e8, #377ad0);
  border-color: #4081af #2e69a3 #20559a;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  color: #ffffff;
  text-shadow: 0 -1px 1px #3275bc;
}
.CLASS-NAME:hover {
  background-color: #3e9ee5;
  background-color: #3e9ee5;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #3e9ee5), color-stop(100%, #206bcb));
  background-image: -webkit-linear-gradient(top, #3e9ee5, #206bcb);
  background-image: -moz-linear-gradient(top, #3e9ee5, #206bcb);
  background-image: -ms-linear-gradient(top, #3e9ee5, #206bcb);
  background-image: -o-linear-gradient(top, #3e9ee5, #206bcb);
  background-image: linear-gradient(top, #3e9ee5, #206bcb);
  border-color: #2a73a6 #165899 #07428f;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  box-shadow: inset 0 1px 0 0 #62b1e9;
  text-shadow: 0 -1px 1px #1d62ab;
}
.CLASS-NAME:active {
  background: #3282d3;
  border-color: #154c8c #154c8c #0e408e;
  -moz-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #ffffff;
  -webkit-box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #ffffff;
  box-shadow: inset 0 0 6px 3px #1657b5, 0 1px 0 0 #ffffff;
  text-shadow: 0 -1px 1px #2361a4;
}
.CLASS-NAME::-moz-focus-inner {
  border: 0;
  padding: 0;
}
