.el-navigation-data-item {
  text-align: center;
}
.el-navigation-data-item > li {
  height: 100%;
  padding: 0 0.5em;
}
.el-navigation-data-item > li > a {
  color: #ffffff;
  display: block;
  font-weight: 700;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
}
.el-navigation-data-item > li > a:visited {
  color: #ffffff;
}
.el-navigation-data-item > li > a:hover, .el-navigation-data-item > li.selected > a {
  color: #000000;
  text-shadow: 0 0 2px #FFFFFF;
}
.el-navigation-data-item > li.selected > a:visited {
  color: #000000;
}
