.el-navigation-data-item {
  background-color: #0E1211;
  display: block;
  height: 2.5em;
  padding: .8em 1em;
  text-align: right;
}
.el-navigation-data-item > li {
  height: 100%;
  padding: 0 0.5em;
}
.el-navigation-data-item > li > a {
  border-left: 1px solid #545150;
  color: #b0b0b0;
  display: block;
  font-size: 1.3em;
  letter-spacing: -1px;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
  text-transform: lowercase;
}
.el-navigation-data-item > li > a:visited {
  color: #b0b0b0;
}
.el-navigation-data-item > li:first-child > a {
  border-left: none;
}
.el-navigation-data-item > li > a:hover,
.el-navigation-data-item > li.selected > a,
.el-navigation-data-item > li.selected > a:visited {
  color: #ffffff;
}
