.user-form fieldset label {
  font-weight: bolder;
}
.user-form fieldset .field {
  position: relative;
  padding-top: 5px;
}
.user-form fieldset .field > label, .user-form fieldset .field > input[type=text], .user-form fieldset .field > input[type=password] {
  display: block;
}
.user-form fieldset .field-rememberme > label {
  display: inline-block;
  font-size: 90%;
  font-weight: normal;
}
.user-form fieldset .field > input[type=email], .user-form fieldset .field > select, .user-form fieldset .field > textarea {
  display: block;
}
.user-form fieldset .field-submit label, .user-form fieldset .field-reset label, .user-form fieldset .field-cancel label {
  display: none;
}
.user-form fieldset .field-submit, .user-form fieldset .field-reset, .user-form fieldset .field-cancel {
  display: inline-block;
  zoom: 1;
  *display: inline;
  float: left;
}
.user-form input[type="submit"] {
  font-size: 0.95em;
  margin: 0;
}
.user-form fieldset .field-reset {
  margin-right: 10px;
}
.user-form fieldset input::-webkit-input-placeholder, .user-form input:-moz-placeholder {
  color: #999999;
  font-size: 80%;
}
.user-form fieldset input.error {
  background-color: #fcc;
}
.user-form .errors {
  color: #A31919;
  border: 1px solid #A31919;
  font-size: 90%;
  padding: 5px 5px 5px 30px;
  background: #FFD;
  position: relative;
}
.user-form .errors:AFTER {
  content: "";
  background: #ffffdd url("http://content.designoncloud.com/static/img/ico_validation.png") no-repeat 5px 5px;
  height: 20px;
  width: 25px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.user-form .thank-you {
  padding: 20px;
}
.user-form .field > .help-text {
  font-size: 75%;
  font-style: italic;
  text-indent: .5em;
}
.user-form input[type=text],
.user-form input[type=email],
.user-form input[type=password],
.user-form input[type=userId] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 4px 4px #cccccc inset;
  -webkit-box-shadow: 0 4px 4px #cccccc inset;
  box-shadow: 0 4px 4px #cccccc inset;
  border: 1px solid #A7A3A3;
  font-size: 0.9em;
  padding: 4px 4px 3px;
}
.user-form input[type=email], .user-form input[type="password"], .user-form input[type=text] {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.user-form textarea {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 4px 4px #cccccc inset;
  -webkit-box-shadow: 0 4px 4px #cccccc inset;
  box-shadow: 0 4px 4px #cccccc inset;
  border: 1px solid #A7A3A3;
  padding: 4px 4px 2px;
}
.user-form label {
  line-height: 1.7em;
}
.user-form .field-name,
.user-form .field-email,
.user-form .field-phone,
.user-form .field-comments,
.user-form .field-password,
.user-form .field-text,
.user-form .field-userId {
  border-bottom: 1px dotted #616161;
  margin-bottom: 10px;
  padding: 0 0 10px;
}
.user-form .field-name input {
  width: 230px;
}
.user-form .field-email input {
  width: 83%;
}
.user-form .field-text input {
  width: 83%;
}
.user-form .field-userId input {
  width: 220px;
}
.user-form .field-phone input {
  width: 150px;
}
.user-form .field-password input {
  width: 200px;
}
.user-form .field-comments textarea {
  width: 83%;
}
