.CLASS-NAME {
  font-size: 1em;
  width: 100%;
}
.CLASS-NAME thead th {
  background: #E0E0FF;
  border: 1px solid #CCCCCC;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  text-align: center;
}
.CLASS-NAME tfoot td {
  border: 1px solid #E0E0E0;
  font-size: 0.9em;
  font-style: italic;
  padding: 0.5em 1em;
  text-align: right;
}
.CLASS-NAME tbody tr:nth-child(2n+1) {
  background: #F9F9F9;
}
.CLASS-NAME tbody tr:hover {
  background: #F0F0F0 !important;
}
.CLASS-NAME tbody td {
  border: 1px solid #E0E0E0;
  padding: 0.5em 1em;
}
