.c_canvas {
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
}
h1, .pr-ft-heading-1 {
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 0.3em;
}
h2, .pr-ft-heading-2 {
  font-size: 29px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 0.3em;
}
h3, .pr-ft-heading-3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 0.2em;
}
h4, .pr-ft-heading-4 {
  font-size: 24px;
  margin: 0 0 0.2em;
}
h5, .pr-ft-heading-5 {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 0.2em;
}
h6, .pr-ft-heading-6 {
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0 0 0.2em;
}
p, .pr-ft-normal-text {
  margin: 0 0 0.5em;
}
a, .pr-ft-a {
  color: #0000FF;
  cursor: pointer;
  text-decoration: underline;
}
a:visited, .pr-ft-a:visited {
  color: #880077;
}
a:active, .pr-ft-a:active {
  color: #EE0000;
}
.rich-text ol {
  margin: 0.5em 0;
}
.rich-text ol li {
  list-style: decimal outside;
  margin-left: 2.5em;
  padding-left: 0.5em;
}
.rich-text ul {
  margin: 0.5em 0;
}
.rich-text ul li {
  list-style: disc outside;
  margin-left: 2em;
  padding-left: 0.5em;
}
