@import "lib.less";

@import "reset-min.css";
@import "fonts-min.css";
@import "grids-min.css";

/** Top Level Canvas under user control**/
.canvas { background-color: #FFFFFF; }
.layoutArea { width: 960px; margin: 0 auto; }

/** Layout : Similar to YUI Grids
      .section inherits from yui3-g
      .column inherits from yui3-u-*-*
**/


/**
.el-widget-instance:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px; right:1px; top:1px; bottom:1px;
  border: 1px solid #CCC;
}  
  
.el-widget-instance {
  .box-shadow(2px 1px 1px #000000);
  background: none repeat scroll 0 0 rgba(155, 155, 155, 0.07) !important;
  min-height: 50px;
  margin: 2px 0;
}

.el-widget-instance > * {
  visibility: hidden;  
}

.el-widget-instance {
  visibility: visible !important;
}**/

.section {
  .yui3-g;
}

.column {
    .yui3-u;
}

.section.childs-1 > .column { width: 100%; }
.section.childs-2 > .column { width: 50%; }
.section.childs-3 > .column { width: 33.33333%; }
.section.childs-4 > .column { width: 25%; }
.section.childs-5 > .column { width: 20%; }

.el-widget-instance, .el-leaf-widget, .rich-text, .image-div, .html-text {
  position: relative;
  z-index: 0;
  vertical-align: top;
}

.image-div {
    line-height: 0;
    width: 156px;
    height: 116px;
}

/** Styling for slideshow - start **/
.plugin-slideshow {
  position: relative;
  height: 340px;
  overflow: hidden;
  
  .plugin-slide {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    
    &.current { display: block; }
    
    .image-div {
      width: auto;
      height: auto;
      
      img {
        width: auto;
        height: auto;
      }
    }
  }
  
}

.plugin-slideshow .plugin-slide { visibility: hidden;}
.plugin-slideshow .plugin-slide.current { visibility: visible;}

/** Styling for slideshow - end **/

/** Common default styles for elements **/
input[type="button"], input[type="submit"], input[type="reset"], button {
  padding: 2px 7px;
}

.button {
  .inline-block();
  cursor: pointer;
  font: inherit;
  line-height: 1.4em !important; /* marked important for overriding system styling in FF */
  margin: 0.3em;
  padding: 0.2em 1em;
  text-align: center;
  text-decoration: none;

  &[disabled], &[disabled]:hover, &[disabled]:active {
    background-color: #dadada;
    border-color: #c5c5c5 #cecece #d9d9d9;
    border-style: solid;
    border-width: 1px;
    .box-shadow(none);
    color: #c0c0c0;
    cursor: default;
    .linear-gradient-with-fallback(#dadada, #f3f3f3);
    text-shadow: 0 -1px 1px #ffffff;
  }
}
a.button { outline: none; }

.image-div img{
    width: 100%;
    height: 100%;
}

/** Temporary until new theme implementation are complete **/
@import "themes/new/typography/Arial.css";

@import "default-theme.css";
@import "components/overlays.css";

#siteLogoImg, #primaryNav, #siteNameText  { position: absolute; }
