.loading {
  background: url("../img/loading.gif") center no-repeat;
}

.loading > * {
  visibility: hidden;
  min-height: 100px;
}

.error-widget > .message {
  color: red;
  display: block;
  font-size: 24px;
  text-align: center;
}

.error-widget > .trace {
  display: none;
}

/** Slide Show **/
.slideshow { position: relative; overflow: hidden; }
.slide { display: none; position: absolute; text-align:center;width:100%;}
.slide.current { display: block; }
.slideshow > .next, .slideshow > .previous {
  width: 61px;
  height: 100%;
  position: absolute;
  z-index: 5;
  .opacity(0.3);
}
.next {background: url("../img/right.png") no-repeat center transparent;right: 0px;}
.previous {background: url("../img/left.png") no-repeat center transparent; left: 0px;}

/** Styles for Google Maps - begins **/
.yui3-longtail-google-maps-content {
  height: 200px;
  border: 1px solid #000000;
}
.gmap-addr {
  width: 70% !important;
}
.gmap-submit {
  margin-left: 20px;
}

.content-widget .title {
  font-size: 140%;
}

button.insert-image {
  background: url("../img/basic-editor-sprite.png") repeat-x scroll 0 0 transparent;
  border-color: #808080;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  color: #F2F2F2;
  border-left-width: 1px;
  .border-radius(3px 3px);
  margin-top: 3px;
  height: 31px;
  width: 40px;
}

button.insert-image:hover, button.insert-image:active {
  background-position: 0 -100px;
}

.insert-image .toolbar-icon {
  background: url("../img/no_img_icon.jpg") no-repeat transparent;
  height: 24px;
  width: 32px;
  display: block;
}

/** Styles for Google Maps - ends **/

.yui3-overlay-alert {
  position: fixed;
  left:0;right:0;top:0;bottom:0;
  background-color: rgba(0,0,0,0.3);
}

.yui3-overlay-alert .yui3-longtail-overlay-content {
  width: 400px;
  margin: 200px auto;
  background: #CDCDCD;
}

.yui3-overlay-alert .yui3-widget-hd {
  background: #f70;
  font-size: 1.2em;
  padding: 5px;
}
.yui3-overlay-alert .yui3-widget-bd {
  padding: 15px 5px;
}

.yui3-overlay-alert .yui3-widget-ft {
  padding: 2px 5px;
  text-align: right;
}