.widget-container.yui3-dd-dragging {
    background : #CDCDCD;
    .box-shadow(3px 3px 6px #CDCDCD);
    border: 2px #ADADAD solid;
    max-height: 100px;
    max-width: 200px;
    overflow: hidden;
    .opacity(0.7);
}

.yui3-dd-animating {
    .box-shadow(0px 1px 3px 0 #000000);
}

.yui3-dragging-sample {
  height: 0px !important;
  overflow: hidden;
}

.yui3-styleframe-shim {
    width: 100%;
    border: 1px dashed #000;
    margin: 5px 0px;
    background-color: #CDCDCD;
    .opacity(0.7);
    text-align: center;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

body.yui3-dd-drop-over .content-area {
    .box-shadow(0 0 3px 3px #ffff00);
}
