/** 
    FIXME : Integrate HTML 5 XForms : Begin
    FIXME : Form Errors should be handled in Top Level Tool Tips 
**/
.widget.form-widget {
  overflow: visible;  
}

.user-form fieldset label {
  font-weight: bolder;
}

.user-form fieldset .field {  position: relative; padding-top: 5px;}
.user-form fieldset .field > label, 
.user-form fieldset .field > input[type=text],
.user-form fieldset .field > input[type=password], 
.user-form fieldset .field > input[type=email] , 
.user-form fieldset .field > select, 
.user-form fieldset .field > textarea{  display: block; width: 100%;}
.user-form fieldset .field-submit label,
.user-form fieldset .field-reset label,
.user-form fieldset .field-cancel label {  display: none; }
.user-form fieldset .field-submit,
.user-form fieldset .field-reset,
.user-form fieldset .field-cancel {
  .inline-block();
  float: left;
}
.user-form fieldset .field-reset { margin-right:10px}

.user-form fieldset input::-webkit-input-placeholder,
.user-form input:-moz-placeholder {
  color: #999999;
  font-size: 80%;
}

.user-form fieldset input.error {
  background-color: #fcc;
}

/* Enhanced error styling */
.user-form fieldset input.error + .validation01{
  background-position: left 0px;
  outline: none;
}

.user-form fieldset input.required + .validation01{
  background-position: left -33px;
}

.user-form fieldset input.valid + .validation01{
  background-position: left -64px;
}

.user-form fieldset input:required:valid + .validation01{
  background-position: left -64px;
}

.user-form .validation01:HOVER .message, 
.user-form fieldset input.error:FOCUS + .validation01 .message {
  display: block;  
}

.user-form .validation01 span {
  display: none;
  background-color: #ffc;
  border: #BABABA 1px solid;
  .box-shadow(3px 3px 6px #BABABA);
  color: #000;
  width: 150px;
  padding: 5px;
}

/** Form Validation Messages **/

.user-form fieldset .validation01
{
    background: url("../img/ico_validation.png") no-repeat scroll left center transparent;
    font-size: 90%;
    height: 16px;
    margin-top: -18px;
    position: absolute;
    right: -20px;
    width: 16px;
}

.user-form .errors {
  color: #f00;
  font-size: 90%;
  background-color: rgb(255,255,0);
  padding: 5px;
}

.user-form .thank-you {
	padding: 20px;
}

.user-form .field > .help-text {
	font-size : 75%;
	font-style: italic;
	text-indent: .5em;
}

/** Enhanced error styling 

.user-form fieldset input.error + .validation01{
  background-position: left 0px;
  outline: none;
}

.user-form fieldset input.required + .validation01{
  background-position: left -33px;
}

.user-form fieldset input.valid + .validation01{
  background-position: left -64px;
}

.user-form fieldset input:required:valid + .validation01{
  background-position: left -64px;
}

.user-form .validation01:HOVER .message, 
.user-form fieldset input.error:FOCUS + .validation01 .message {
  display: block;  
}

.user-form .validation01 span {
  display: none;
  background-color: #ffc;
  border: #BABABA 1px solid;
  .box-shadow(3px 3px 6px #BABABA);
  color: #000;
  width: 150px;
  padding: 5px;
}

.user-form fieldset .validation01
{
    background: url("../img/ico_validation.png") no-repeat scroll left center transparent;
    font-size: 90%;
    height: 16px;
    margin-top: -18px;
    position: absolute;
    right: -20px;
    width: 16px;
}


.user-form fieldset .validation01 { .inline-block(); position: relative; right: 0; margin: 0 !important; }
.user-form .validation01 span { position: absolute; }
**/