@import "lib.less";

#layoutArea { padding-bottom: 15px; }

#siteNameText h2 { font-weight: bold; }

/** Temporary **/
.c_canvas #primaryNav.el-navigation-data-item > li > a:hover { 
	border-bottom: 0px !important; 
	color: #FFFFFF; 
	border-style: none;
	border: none;
	background-color: #4B83FC;
	.box-shadow(0 1px 0 #CCCCCC inset);

}

.c_canvas #canvas .button, .c_canvas #canvas .button:visited { color: #F5F5F5; }
.c_canvas #canvas .button:hover { color: #FFFFFF; }
.c_canvas #canvas .rich-text ul li {
  list-style: disc outside none;
  margin-left: 2em;
  padding-left: 0.5em;
  line-height: 1.7;
}
/** Temporary **/


/** Top Account Setting **/
#topAccount {
  height: 0;
  position: relative;
  width: 100%;
  right: 0;
}

#topAccount #topActions {
  float: right !important;
  color: #C7EFFF;
  background-color: #2B62BB;
  border-color: #003DE8;
  border-style: solid;
  border-width: 0 1px 1px;
  .border-radius(0 0 7px 7px);
  border-top: none;
  font-size: 90%;
  padding: 7px 18px 5px !important;
  right: 0px;
}

#topAccount #topActions > div {
  float: left;
}

#topAccount #topActions a {
  color: #C7EFFF;
  text-decoration: none;

  &:hover {
    color: #FFFFFF;
  }
}

#topAccount #topActions .slash {
  color: #989898;
  padding: 0 4px 0 7px;
}

#topActions {
  position: absolute;
  z-index: 1;
  background-color: #000D1E;
}

.site-footer {
  background: url("http://content.designoncloud.com/static/img/sites/hashedin/bottom-bg-gradient.png") repeat-x #FFFFFF !important;
  padding-top: 32px !important;
  box-shadow: none !important;
}

.site-footer .footer-links {
  display: block !important;
}

.footer-widget {
  width: 960px;
  margin: 0 auto;
}

.site-footer div#followUs {
  display: block;
  font-weight: bold;
  padding: 0 5px 0 10px;
  .border-radius(4px);
}

.site-footer DIV#followUs > * {
  .inline-block();
  vertical-align: middle;
}

.follow-us-on ul li {
  height: 30px;
  padding: 0 4px;
}

.site-footer DIV#poweredBy {
  display: none;
}

/** Styling for Tables **/
.el-table-data-item {
    width: 100%;
}

.el-table-data-item td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 33.3333%;
    overflow: hidden;
    padding: 3px;
}

.btn-candy {
  .linear-gradient-glossy-vertical(#779be9, #376fe0, #2260dd, #2463de);
  .border-radius(3px);
  border: none;
  color: #ffffff;
  text-shadow: 0px -1px 1px #2c4d93;
  -webkit-background-clip: padding-box;

  &:hover {
    .linear-gradient-glossy-vertical(#6989cf, #3263c7, #1d55c4, #1d55c4); 
  }
  &:active {
    background: #1a4aab;
    .box-shadow(0 0 4em #111111 inset);
    color: lightness(#ffffff);
  }
}

.errors {
  color: red;
}

#I5GUP8 a img {
  border: 1px solid #951100;
  .border-radius(5px);
  .box-shadow(inset 0px 0px 0px 1px #CC2F27 , 0 1px 3px #333333);
  height: 29px;
  width: 237px;
}

#I5GUP8 a img:HOVER {
  .box-shadow(inset 0px 0px 0px 1px #C51600);
}

.button-hashedin {
  padding: 6px 24px;
  font-weight:bold;
  background-color: #1a5ad9;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
  background-image: -webkit-linear-gradient(top, #759ae9 0, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -moz-linear-gradient(top, #759ae9 0, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -ms-linear-gradient(top, #759ae9 0, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -o-linear-gradient(top, #759ae9 0, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: linear-gradient(top, #759ae9 0, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-color: #1f58cc #1b4db3 #174299;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #ffffff;
  text-shadow: 0 -1px 1px #1a5ad9;
  text-decoration: none;
}
.button-hashedin:hover {
  background-color: #044bd9;
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
  background-image: -webkit-linear-gradient(top, #5d89e8 0, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: -moz-linear-gradient(top, #5d89e8 0, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: -ms-linear-gradient(top, #5d89e8 0, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: -o-linear-gradient(top, #5d89e8 0, #2261e0 50%, #044bd9 50%, #0d53de 100%);
  background-image: linear-gradient(top, #5d89e8 0, #2261e0 50%, #044bd9 50%, #0d53de 100%);
}
.button-hashedin:active {
  border-color: #1b4db3 #174299 #133780;
  -moz-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 #eeeeee;
}
.button-hashedin:visited {
  color: #ffffff;
  text-decoration: none;
}

/** Import CSS files for admin pages **/
@import "admin/common.css";
@import "admin/dashboard.css";
@import "admin/profile.css";
@import "admin/publish.css";
