@import "lib.less";

/**
 * NOTE : IMPORTANT!! IMPORTANT!! IMPORTANT!!
 * any updates here to Background Image and Texture should be updated in CSSEngine as well.
 */

.BackgroundColor#bgcol015 { background-color: rgb(0, 0, 0); }
.BackgroundColor#bgcol002 { background-color: rgb(204, 102, 102); }
.BackgroundColor#bgcol003 { background-color: rgb(153, 153, 102); }
.BackgroundColor#bgcol004 { background-color: rgb(51, 153, 204); }
.BackgroundColor#bgcol005 { background-color: rgb(255, 204, 153); }
.BackgroundColor#bgcol006 { background-color: rgb(102, 153, 51); }
.BackgroundColor#bgcol007 { background-color: rgb(153, 0, 0); }
.BackgroundColor#bgcol008 { background-color: rgb(204, 51, 102); }
.BackgroundColor#bgcol009 { background-color: rgb(153, 153, 153); }
.BackgroundColor#bgcol010 { background-color: rgb(255, 255, 255); }
.BackgroundColor#bgcol011 { background-color: rgb(211, 187, 137); }
.BackgroundColor#bgcol012 { background-color: rgb(140, 214, 233); }
.BackgroundColor#bgcol013 { background-color: rgb(207, 143, 109); }
.BackgroundColor#bgcol014 { background-color: rgb(159, 115, 139); }
.BackgroundColor#bgcol001 { background-color: rgb(125, 172, 157); }
.BackgroundColor#zzzzbgcol { background-color: transparent; }

.Background#grad0001 { .linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }/**Gradient**/
.Background#grad0002 { .linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }/**Gradient**/
.Background#grad0003 { .linear-gradient-3color-vertical (rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }/**Gradient**/
.Background#grad0004 { .linear-gradient-3color-vertical (rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }/**Gradient**/
.Background#grad0005 { .linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }/**Gradient**/
.Background#grad0006 { .linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }/**Gradient**/
.Background#grad0007 { .linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }/**Gradient**/
.Background#grad0008 { .linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }/**Gradient**/
.Background#grad0009 { .linear-gradient-3color-vertical (rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }/**Gradient**/
.Background#grad0010 { .linear-gradient-3color-vertical (rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }/**Gradient**/
.Background#grad0011 { .linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }/**Gradient**/
.Background#grad0012 { .linear-gradient(  rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }/**Gradient**/

.Background#txtr001 { background-image: url('http://content.designoncloud.com/static/img/textures/t1.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr002 { background-image: url('http://content.designoncloud.com/static/img/textures/t2.jpg'); background-repeat: repeat; }/**Texture**/
.Background#txtr003 { background-image: url('http://content.designoncloud.com/static/img/textures/t3.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr004 { background-image: url('http://content.designoncloud.com/static/img/textures/t4.jpg'); background-repeat: repeat; }/**Texture**/
.Background#txtr005 { background-image: url('http://content.designoncloud.com/static/img/textures/t5.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr006 { background-image: url('http://content.designoncloud.com/static/img/textures/t6.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr007 { background-image: url('http://content.designoncloud.com/static/img/textures/t7.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr008 { background-image: url('http://content.designoncloud.com/static/img/textures/t8.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr009 { background-image: url('http://content.designoncloud.com/static/img/textures/t9.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr010 { background-image: url('http://content.designoncloud.com/static/img/textures/t10.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr011 { background-image: url('http://content.designoncloud.com/static/img/textures/t11.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr012 { background-image: url('http://content.designoncloud.com/static/img/textures/t12.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr013 { background-image: url('http://content.designoncloud.com/static/img/textures/t13.png'); background-repeat: repeat; }/**Texture**/
.Background#txtr014 { background-image: url('http://content.designoncloud.com/static/img/textures/t14.png'); background-repeat: repeat; }/**Texture**/

.Background#bgImg001 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg01.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg002 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg02.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg003 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg03.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg004 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg04.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg005 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg05.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg006 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg06.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg007 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg07.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg008 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg08.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg009 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg09.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/
.Background#bgImg010 { background-image: url('http://content.designoncloud.com/static/img/bgImage/bg10.jpg'); background-repeat: no-repeat; background-position: center top; }/**Image**/

.Background#zzzzbg { background-image: none; background-color:transparent;}

.FontColor#fgcol011 { color: rgb(207, 143, 109); }
.FontColor#fgcol010 { color: rgb(159, 115, 139); }
.FontColor#fgcol009 { color: #C7EFFF; }
.FontColor#fgcol008 { color: rgb(0, 0, 0); }
.FontColor#fgcol007 { color: rgb(204, 102, 102); }
.FontColor#fgcol006 { color: rgb(153, 153, 102); }
.FontColor#fgcol005 { color: rgb(51, 153, 204); }
.FontColor#fgcol004 { color: rgb(255, 204, 153); }
.FontColor#fgcol003 { color: rgb(102, 153, 51); }
.FontColor#fgcol002 { color: rgb(255, 255, 255); }
.FontColor#fgcol001 { color: rgb(153, 0, 0); }
.FontColor#zzzzfgcol { color: none; }

.LayoutWidth#width960 { width: 960px; margin: 0 auto; }
.LayoutWidth#width1024 { width: 1024px; margin: 0 auto; }
.LayoutWidth#widthflexible { width: auto; margin: 0 auto; }

.Effects#boxShadowNone { .box-shadow(none); }/**BoxShadow**/
.Effects#dropShadow { .box-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)); }/**BoxShadow**/
.Effects#innerShadow { .box-shadow(5px 5px 5px rgba(0, 0, 0, 0.5) inset); }/**BoxShadow**/
.Effects#outerGlow { .box-shadow(0 0 10px 2px rgba(255, 255, 255, 0.5)); }/**BoxShadow**/
.Effects#innerGlow { .box-shadow(0 0 10px 2px rgba(255, 255, 255, 0.5) inset); }/**BoxShadow**/
.Effects#contourUp { .box-shadow(0 5px 5px rgba(255, 255, 255, 0.4) inset, 5px 0 5px rgba(255, 255, 255, 0.3) inset, 0 -5px 5px rgba(0, 0, 0, 0.4) inset, -5px 0 5px rgba(0, 0, 0, 0.3) inset); }/**BoxShadow**/
.Effects#contourDown { .box-shadow(0 5px 5px rgba(0, 0, 0, 0.6) inset, 5px 0 5px rgba(0, 0, 0, 0.5) inset, 0 -5px 5px rgba(255, 255, 255, 0.4) inset, -5px 0 5px rgba(255, 255, 255, 0.3) inset); }/**BoxShadow**/

.Effects#txtShadownone { text-shadow: none; }/**Text-Shadow**/
.Effects#txtShadow001 { text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8); }/**TextShadow**/
.Effects#txtShadow002 { text-shadow: 2px 0 1px rgba(0, 0, 0, 0.8); }/**TextShadow**/
.Effects#txtShadow003 { text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8); }/**TextShadow**/
.Effects#txtShadow004 { text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.8); }/**TextShadow**/
.Effects#txtShadow005 { text-shadow: -2px 0 1px rgba(0, 0, 0, 0.8); }/**TextShadow**/
.Effects#txtShadow006 { text-shadow: -2px -2px 1px rgba(0, 0, 0, 0.8); }/**TextShadow**/
.Effects#txtShadow007 { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }/**TextShadow**/
.Effects#txtShadow008 { text-shadow: 0 1px 0 rgb(150, 150, 150); }/**TextShadow**/
.Effects#txtShadow009 { text-shadow: 1px 1px 0 rgb(200, 200, 200); }/**TextShadow**/

.Effects#opacitynone { .opacity(1); }/**Opacity**/
.Effects#opacity001 { .opacity(0.9); }/**Opacity**/
.Effects#opacity002 { .opacity(0.8); }/**Opacity**/
.Effects#opacity003 { .opacity(0.7); }/**Opacity**/
.Effects#opacity004 { .opacity(0.6); }/**Opacity**/
.Effects#opacity005 { .opacity(0.5); }/**Opacity**/
.Effects#opacity006 { .opacity(0.4); }/**Opacity**/
.Effects#opacity007 { .opacity(0.3); }/**Opacity**/
.Effects#opacity008 { .opacity(0.2); }/**Opacity**/
.Effects#opacity009 { .opacity(0.1); }/**Opacity**/

.Border#brsty008 { border-style: solid; }
.Border#brsty007 { border-style: dashed; }
.Border#brsty006 { border-style: dotted; }
.Border#brsty005 { border-style: double; }
.Border#brsty004 { border-style: groove; }
.Border#brsty003 { border-style: ridge; }
.Border#brsty002 { border-style: inset; }
.Border#brsty001 { border-style: outset; }
.Border#zzzzbrsty { border-style: none; border: none; }

.Font#heading-1 {}
.Font#heading-2 {}
.Font#heading-3 {}
.Font#heading-4 {}
.Font#heading-5 {}
.Font#heading-6 {}
.Font#normal-text {}
.Font#a {}

.Background#bluegrad001 { .linear-gradient-with-fallback(#004696, #002A5B); }/**Gradient**/
