@import "lib.less";

#topBar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: block; /** This is for HashedIn brandsite **/
  background: -moz-linear-gradient(#333333 0, #000000 20%);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#333333), color-stop(20%, #000000));
  background: -webkit-linear-gradient(#333333 0, #000000 20%);
  background: -ms-linear-gradient(#333333 0, #000000 20%);
  background: -o-linear-gradient(#333333 0, #000000 20%);
  background: linear-gradient(#333333 0, #000000 20%);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='#333333', EndColorStr='#000000')";  
  color: #CCC;
  z-index: 100;
  border-bottom: 1px solid #CCCCCC;
  .box-shadow(0 1px 4px #111111);
}

.gallery-container {
  position: relative;  
}

.gallery-container-help-msg {
  color: #E4E4E4;
  font-style: italic;
  padding: 7px 7px 0;
}

#siteLayoutGallery, #themeGallery, #sitePagesGallery, #selectionOverlay, #widgetGallery {
  height: 136px;
}

#themeGallery .yui3-item-browse {
  left: 0 !important;
  top: 0 !important;
}

#topBar #userProfileRight {
  position: absolute;
  right: 0;
  z-index: 150;
  width: 400px;  
}

#topBar .logo {
  position: absolute;
  height: 12px;
  padding: 9px;
}

#topBar #accountActions, #topBar .help-button, #topBar .preview-action, #topBar .publish-action {
  border-left: 1px solid #000000;
  .box-shadow(0 1px 5px #535353 inset);
  cursor: pointer;
  float: right;
}

#topBar #accountActions:HOVER, #topBar .help-button:HOVER, #topBar .preview-action:HOVER, #topBar .publish-action:HOVER {
  color: #FFFFFF;
  .linear-gradient-with-fallback(#414141, #101010);
}

#topBar .help-button a {
  background: url("../img/icons-edit.png") no-repeat 33px -1071px;
  display: block;
  padding: 7px 25px 7px 10px;
}

#topBar .preview-action a {
  background: url("../img/icons-edit.png") no-repeat 54px -1098px;
  display: block;
  padding: 7px 28px 7px 10px;
}

#topBar .publish-action a {
  background: url("../img/icons-edit.png") no-repeat 54px -1126px;
  display: block;
  padding: 7px 34px 7px 10px;
}

#topBar #accountActions {
  padding: 7px 3px 7px 3px;
}

#topBar #accountActions #accountActionsTab {
  background: url("../img/icons-edit.png") no-repeat -1px -525px;
  padding: 0 3px 0 24px;
  width: 17px;
}

#topBar #accountActions.selected {
  border: 1px solid #000000;
  border-top: none;
  color: #FFFFFF;
  .linear-gradient-with-fallback(#353535, #414141);
}

#topBar #accountActions.selected #accountOptions {
  display: block;  
  position: absolute;
  right: 0;
  top: 30px;
  .linear-gradient-with-fallback(#414141, #101010);
}

#accountActions  #accountOptions {
  display: none;
  padding: 10px 20px;
  line-height: 20px;
}

#accountActions #accountOptions > div {
  border-bottom: 1px solid #848484;
  padding: 0 5px;
}

#accountActions #accountOptions > div.settings-link {
  border: none;
}

#topBar #user-msg.notice-area {
  display: none;
  position: absolute;
  top: 0;
  left: 48%;
}

#topBar #user-publish-msg.notice-area {
  display: block;
  position: absolute;
  top: 0;
  left: 54%;
  width: 26%;
  background-color: #FF3333;
  text-align: center;
  color: #000000;
  padding: 2px 5px 2px;
  z-index: 180;
  .border-radius(0 0 4px 4px);
  border-color: #FF1111;
  border-width: 0 3px;
  border-style: solid;
}

#editActionBar {
  display: block;
}

#editActionBar .menu-item-buttons {
  padding-left: 100px;
}

#editActionBar .yui3-tabview-panel {
  font-size: 0.85em;
}

.selection-pane {
  background: -moz-linear-gradient(#555555, #777777, #888888, #888888, #777777, #555555);
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#555555), color-stop(#777777), color-stop(#888888), color-stop(#888888), color-stop(#777777), to(#555555));
  background: -webkit-linear-gradient(#555555, #777777, #888888, #888888, #777777, #555555);
  background: -ms-linear-gradient(#555555, #777777, #888888, #888888, #777777, #555555);
  background: -o-linear-gradient(#555555, #777777, #888888, #888888, #777777, #555555);
  background: linear-gradient(#555555, #777777, #888888, #888888, #777777, #555555);
  filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr='#555555', EndColorStr='#888888')";
  border-top: 1px solid #999999;
}

.widget-button, .theme-button, .site-layout-button, .manage-page-button, .design-button, .settings-button {
  background: url("../img/widgets/top-bar-icons.png") no-repeat scroll 5px 2px #777777;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: none;
  padding: 6px 10px 1px 30px;
  margin: 2px 5px 0 0;
  background-color: #333333;
  height: 21px;
  width: 52px;
  font-weight: bold;
  .border-radius(6px 6px 0 0);
}

.settings-button, .design-button {
  padding: 6px 10px 1px 30px !important;
  margin: 2px 5px 0 0 !important;  
}

.yui3-tab.yui3-tab-selected.settings-mode .settings-button,
.yui3-tab.yui3-tab-selected.design-mode .design-button {
  background-color: #555555;
  border: 1px solid #999999;
  border-bottom: none;
  margin-bottom: -1px !important;
} 

#editActionBar .menu-item-buttons .yui3-tab:HOVER {
  background-color: #555555;
}

#editActionBar .menu-item-buttons .yui3-tab .design-button:HOVER, #editActionBar .menu-item-buttons .yui3-tab .settings-button:HOVER {
  background-color: #555555;
}

#editActionBar .menu-item-buttons .yui3-tab.yui3-tab-selected {
  background-color: #555555;
  border: 1px solid #999999;
  border-bottom: none;
  margin-bottom: -1px;
}

#editActionBar .menu-item-buttons .yui3-tab-label {
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 0 #000000;
}

#editActionBar .close-button {
  background: url("http://content.designoncloud.com/static/img/up-arrow.png") no-repeat center center transparent;
  .background-size(12px auto);
  border: none;
  font-size: 0;
  height: 31px;
  .opacity(0.85);
  text-indent: -9999px;
  width: 16px;
}

#editActionBar .menu-item-buttons .close-button:HOVER {
  background-color: transparent;
  .opacity(1);
}
#editActionBar .menu-item-buttons .close-button.yui3-tab-selected {
  .opacity(0);
}

.widget-button {
  background-position: 4px 2px;
}

.theme-button {
  background-position: 4px -30px;
}

.site-layout-button {
  background-position: 4px -60px;
  display: none;
}

.manage-page-button {
  background-position: 4px -91px;
}

.design-button {
  background-position: 4px -124px;
  margin-left: 30px;
}

#pageActions {
  background: #000000;
  border-left: 1px solid #CCCCCC;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 150px;
}

.empty-content-widget {
  text-align: center;
  width: 140px;
  font-size: 0.85em;
  padding: 10px 5px;
  margin: 0 auto;
  display: none;
  top: 10px;
  opacity: 0.5;
}

.sample-widget {
  padding-top: 65px;
  width: 60px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  margin: 10px 5px 10px 5px;
  cursor: move;
  background-image: url("../img/widgets/widget-icons-new.png");
  background-position: -414px -117px;
  background-repeat: no-repeat;
}

.gallery-container .sample-widget {
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.widget-sprite-content-with-heading { background-position:  -14px -17px; }
.widget-sprite-image { background-position:  -114px -17px; }
.widget-sprite-facebook-like { background-position:  -214px -17px; }
.widget-sprite-video { background-position:  -314px -17px; }
.widget-sprite-twittersearch { background-position:  -414px -17px; }

.widget-sprite-image-gallery { background-position:  -14px -117px; }
.widget-sprite-googlemap { background-position:  -114px -117px; }
.widget-sprite-facebook-like-button { background-position:  -214px -117px; }
.widget-sprite-follow-us-on { background-position:  -314px -117px; }
.widget-sprite-company-overview { background-position:  -414px -220px; }
.widget-sprite-recent-news { background-position:  -214px -320px; }
.widget-sprite-product-description { background-position:  -414px -320px; }
.widget-sprite-customer-testimonials { background-position:  -314px -320px; }

.widget-sprite-content { background-position:  -14px -217px; }
.widget-sprite-content-and-image { background-position:  -114px -217px; }

.category-container .yui3-tab {
  display: block;
  background: none;
  border-top: 1px solid #88AADD;
}

.category-container .yui3-tab-selected {
  background: #f99220;
}

.category-container, .site-page {
  position: relative;
  padding-top: 5px;
  height: 110px;
}

.category-container .yui3-tabview-list {
  width: 100px;
  padding: 0 5px;
}

.category-container .yui3-tab-label {
  font: 12px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  padding: 2px 38px 2px 12px;
  width: 50px;
  color: #FCFCFC;
}

.category-container .yui3-tabview-panel {
  position: absolute;
  left: 100px;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 10px;
}

.theme-gallery-img {
  height: 77px;
  border: 3px solid #000;
}

.theme {
  font-weight: bold;
  text-align: center;
  height: 98px;
  margin: 9px 12px;
  vertical-align: middle;
}

.canvas-layout {
  background: url("http://content.designoncloud.com/static/img/canvas-layout-icons.png") no-repeat scroll 3px 0;
  cursor: pointer;
  height: 60px;
  width: 55px;
  margin: 3px auto;
  padding: 0;
}

li.selected > .site-layout-option {
  border: 1px solid;
  background-color: rgba(0,0,0,0.3);
}

.canvas-layout:HOVER, li > .site-layout-option:HOVER, .sample-widget:HOVER {
  outline: 2px solid #ABABAB !important;
}
 
.site-layout-option {
  background-image: url('../img/previews/layout_options.png');
  width: 80px;
  padding-top: 72px;
  cursor: pointer;
  margin: 0 0 0 15px;
  text-align: center;
}

.site-nav-link {
  display: block;
  background-position: -410px -20px;
  margin: 5px 5px;
  padding-top: 60px;
}

#user-msg {
  background-color: #FFF999;
  text-align: center;
  .border-radius(0 0 4px 4px);
  border-color: #FFF999;
  border-width: 0 3px;
  border-style: solid;
  color: #000000;
  font-weight: bold;
  padding: 2px 5px 2px;
  z-index: 200;
}

.presets-list {
  margin-right: 125px;  
}

.action-buttons {
  background-color: #000000;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  width: 120px;
}

.action-buttons .done {
  position: absolute;
  bottom: 0px; right: 0; left: 0;  
  .linear-gradient(#6C5, #0A0);
  padding: 3px 0 !important;
  font-size: 14px;
  border: 1px solid #080;
  width: 100%;
  cursor: pointer;
}

.action-buttons .done:HOVER {.linear-gradient(#8C7, #0A0);}
.action-buttons .done:ACTIVE {.linear-gradient(#0A0, #090);}

.create-new, .clear-styles {
  .linear-gradient(#CCC, #999);
  border: 1px solid #080;
  color: #333;
  width: 85px;
  margin: 3px auto;
  text-align: left;  
}

.create-new:HOVER, .clear-styles:HOVER {
  .linear-gradient(#DDD, #AAA);
}

.create-new:ACTIVE, .clear-styles:ACTIVE {
  .linear-gradient(#999, #777);
}


.preset-customize {
  background-color: #000000;
  border-left: 1px solid #333333;
  .box-shadow(-2px 0 4px #111111);
  display: none;
  position: absolute;
  right: 0;
  top: -1px;
  bottom: 0;
  width: 400px;
}

.font-customize.selected  {
 width: 200px; 
}

.preset-customize.selected {
  display: block;  
}
    
.presets-list:after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: 120px;
  bottom: 0px;
  width: 1px;
  background: #888;
}

.yui3-overlay-padding, .yui3-overlay-margin {
  border: 1px solid #999999;
  margin-left: 4px;
  padding: 10px 0;
  position: absolute !important;
  top: -1px !important;
  width: 24%;
  left: 53% !important;
  z-index: 1000 !important;
  height: 70px;
}

.preset-selection-div {
   height: 100px;
}

.yui3-overlay-padding .preset-selection-div, .yui3-overlay-BorderRadius .preset-selection-div {
  height: auto;
}

.preset-customize .border-grid {
	position: relative;
}

.preset-customize .border-grid:after {
	content: "";
	display:block;
	position:absolute; 
	left: 15px; 
	right: 25px; 
	top:10px;
	bottom:10px;
	background-color: transparent;
	border: 1px dotted #999;
	z-index: -1;
}

.preset-customize .border-customize:after {
	content: "";
	display:block;
	position:absolute; 
	left: 65%;
	top:0;
	background-color: #ABABAB;
	z-index: -2;
	width:1px;
	height:100%;
}

.last-updated-date {
  .border-radius(0 0 4px 4px);
  border-color: #555555;
  border-width: 0 2px 1px 2px;
  border-style: solid;
  font-size:10px;
  color:#ABABAB;
  padding:2px 4px 1px 4px;
  margin:0;
  float:right;
  position: absolute;
}