.canvas {
  background-color: #1199B3;
  color: #00B5D4;
}
.layoutArea {
  background-color: #032433;
}
.header {
  background-color: #05384D;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #97FFFF;
}
p, .pr-ft-normal-text {
  color: #00B5D4;
}
form {}
.button {
  background-color: #77D014;
}
/**
#primaryNav {}
**/
