.canvas {
  background-color: #F0E14C;
  color: #444444;
}
.layoutArea {
  background-color: #FFF79F;
}
.header {
  background-color: #FFBB20;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #E85305;
  color: #FFFFFF;
}
.button {}
/**
#primaryNav {
  background-color: #FA7B12;
  color: #333333;
}
**/
