.canvas {
  background-color: #B64926;
  color: #444444;
}
.layoutArea {
  background-color: #FFF0A5;
}
.header {
  background-color: #8E2800;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #468966;
  color: #FFFFFF;
}
.button {}
/**
#primaryNav {
  background-color: #FFB03B;
  color: #333333;
}
**/
