.canvas {
  background-color: #1D140F;
  color: #606056;
}
.layoutArea {}
.header {
  background-color: #A3C634;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #E1E8F8;
}
p, .pr-ft-normal-text {
  color: #606056;
}
form {
  background-color: #302020;
  color: #E1E1E1;
}
.button {
  background-color: #D96E1C;
}
/**
#primaryNav {}
**/
