.canvas {
  background-color: #7FC6BC;
  color: #444444;
}
.layoutArea {
  background-color: #EDF7F2;
}
.header {
  background-color: #4BB5C1;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #96CA2D;
  color: #333333;
}
.button {}
/**
#primaryNav {
  background-color: #B5E655;
  color: #333333;
}
**/
