.canvas {
  background-color: #ffffff;
  color: #000000;
}
.layoutArea {}
.header {
  background-color: #A4A931;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #B67938;
}
p, .pr-ft-normal-text {
  color: #000000;
}
form {
  background-color: #657149;
  color: #F0F0F0;
}
.button {
  background-color: #867A60;
}
/**
#primaryNav {}
**/
