.canvas {
  background-color: #1C2742;
  color: #444444;
}
.layoutArea {
  background-color: #E0EEFB;
}
.header {
  background-color: #3C91C7;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #5A9ABE;
  color: #FFFFFF;
}
.button {}
/**
#primaryNav {
  background-color: #95C5DE;
  color: #333333;
}
**/
