.canvas {
  background-color: #31152B;
  color: #444444;
}
.layoutArea {
  background-color: #F9E4AD;
}
.header {
  background-color: #723147;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #CC4452;
  color: #FFFFFF;
}
.button {}
/**
#primaryNav {
  background-color: #E6B098;
  color: #333333;
}
**/
