.canvas {
  background-color: #A54A4D;
  color: #444444;
}
.layoutArea {
  background-color: #FAEE96;
}
.header {
  background-color: #B2D45B;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #EE7253;
  color: #FFFFFF;
}
.button {}
/**
#primaryNav {
  background-color: #F2CE5A;
  color: #333333;
}
**/
