.canvas {
  background-color: #C9D787;
  color: #444444;
}
.layoutArea {
  background-color: #FFE4E1;
}
.header {
  background-color: #7D8A2E;
}
h1, .pr-ft-heading-1,
h2, .pr-ft-heading-2,
h3, .pr-ft-heading-3,
h4, .pr-ft-heading-4,
h5, .pr-ft-heading-5,
h6, .pr-ft-heading-6 {
  color: #000000;
}
p, .pr-ft-normal-text {
  color: #444444;
}
form {
  background-color: #FF8598;
  color: #000000;
}
.button {}
/**
#primaryNav {
  background-color: #FFC0A9;
  color: #000000;
}
**/
