.CLASS-NAME > li {
  margin-bottom: -1px;
}
.CLASS-NAME > li > a {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  color: #CDCDCD;
  display: block;
  line-height: 2.5em;
  margin-right: 2px;
  padding: 0 1em;
  text-decoration: none;
}
.CLASS-NAME > li > a:visited {
  color: #CDCDCD;
}
.CLASS-NAME > li > a:hover {
  background-color: #4B83FC;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: #FFFFFF;
  background-image: none;
}
.CLASS-NAME > li.selected > a {
  background-color: #4B83FC;
  color: #FFFFFF;
  padding: 0 1em;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  background-image: none;
}
.CLASS-NAME > li.selected > a:visited {
  color: #FFFFFF;
}
