.CLASS-NAME {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #444444;
  display: block;
  height: 2em;
  padding: 1em 0;
  text-align: center;
}
.CLASS-NAME > li {
  height: 100%;
  padding: 0 0.5em;
}
.CLASS-NAME > li > a {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color: #eeeeee;
  display: block;
  font-weight: 700;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
}
.CLASS-NAME > li > a:visited {
  color: #eeeeee;
}
.CLASS-NAME > li > a:hover {
  background-color: #555555;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #000000 inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #000000 inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #000000 inset;
}
.CLASS-NAME > li.selected > a {
  background: #555555;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #000000 inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #000000 inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px #000000 inset;
}
