.CLASS-NAME {
  background-color: #040a0e;
  background-color: rgba(107, 107, 107, 0.5);
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(107, 107, 107, 0.5)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(top, rgba(107, 107, 107, 0.5), transparent);
  background-image: -moz-linear-gradient(top, rgba(107, 107, 107, 0.5), transparent);
  background-image: -ms-linear-gradient(top, rgba(107, 107, 107, 0.5), transparent);
  background-image: -o-linear-gradient(top, rgba(107, 107, 107, 0.5), transparent);
  background-image: linear-gradient(top, rgba(107, 107, 107, 0.5), transparent);
  border: 1px solid #555555;
  border-radius: 0.5em;
  -moz-box-shadow: 0 1px 5px #111111;
  -webkit-box-shadow: 0 1px 5px #111111;
  box-shadow: 0 1px 5px #111111;
  display: block;
  height: 2.5em;
}
.CLASS-NAME > li {
  height: 100%;
}
.CLASS-NAME > li > a {
  color: #dddddd;
  display: block;
  line-height: 2.5em;
  padding: 0 2em;
  text-decoration: none;
}
.CLASS-NAME > li > a:visited {
  color: #dddddd;
}
.CLASS-NAME > li > a:hover {
  color: #ffffff;
}
.CLASS-NAME > li.selected > a {
  background-color: rgba(4, 10, 14, 0.30000000000000004);
  color: #ffffff;
}
.CLASS-NAME > li.selected > a:visited {
  color: #ffffff;
}
