.CLASS-NAME {
  background-color: #5D574B;
  border: 1px solid #6C6456;
  display: block;
  height: 2.5em;
  text-align: center;
}
.CLASS-NAME > li {
  height: 100%;
  padding: 0 0.5em;
}
.CLASS-NAME > li > a {
  color: #d6ccb5;
  display: block;
  font-weight: 700;
  line-height: 2.5em;
  padding: 0 1.5em;
  text-decoration: none;
}
.CLASS-NAME > li > a:first-letter {
  color: #EC6941;
  font-style: italic;
  letter-spacing: 1px;
}
.CLASS-NAME > li > a:visited {
  color: #d6ccb5;
}
.CLASS-NAME > li > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.CLASS-NAME > li.selected > a {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
