.admin-page-header {
  margin: 40px 0 15px;
}

.admin-page-heading {
  font-size: 250%;
  line-height: 1.2;
}

.admin-button {
  border-color: transparent #dfdfdf #b4b4b4;
  border-style: solid;
  border-width: 0 1px 1px;
  .border-radius(5px);
  .box-shadow(inset 0 1px 0 0 #ffffff, 0 0 3px #999999);
  color: #222222;
  cursor: pointer;
  font: inherit;
  .inline-block();
  line-height: 1.4em !important; /* marked important for overriding system styling in FF */
  .linear-gradient-glossy-vertical(#f3f3f3, #dddddd, #d2d2d2, #dfdfdf);
  margin: 0.2em 0;
  padding: 0.2em 0.8em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px #fff;

  &:hover {
    .linear-gradient-glossy-vertical(#e5e5e5, #d1d1d1, #c4c4c4, #b8b8b8);
    .box-shadow(inset 0 1px 0 0 #f2f2f2 , 0 1px 0 0 #c9c9c9 , 0 -1px 2px 1px #e3e3e3);
  }
  &:active {
    .box-shadow(inset 0 0 30px 0 #999999 , 0 1px 0 0 #ffffff);
  }
}

.admin-section-widget {
  background-color: #D4D4D4;
  .box-shadow(2px 2px 3px #999999);
  margin: 0 3px 10px 0;
  padding: 15px;
}
.admin-section-widget-hd {
  filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#949873', EndColorStr='#D4D4D4')";
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#949873', EndColorStr='#D4D4D4')";
  background-image: -webkit-gradient(linear, left center, right center, color-stop(0%, rgba(148, 152, 115, 1)), color-stop(60%, rgba(148, 152, 115, 0.5)), color-stop(90%, rgba(148, 152, 115, 0)));
  background-image: -webkit-linear-gradient(left, rgba(148, 152, 115, 1), rgba(148, 152, 115, 0.5) 50%, rgba(148, 152, 115, 0) 90%);
  background-image: -moz-linear-gradient(left, rgba(148, 152, 115, 1), rgba(148, 152, 115, 0.5) 50%, rgba(148, 152, 115, 0) 90%);
  background-image: -ms-linear-gradient(left, rgba(148, 152, 115, 1), rgba(148, 152, 115, 0.5) 50%, rgba(148, 152, 115, 0) 90%);
  background-image: -o-linear-gradient(left, rgba(148, 152, 115, 1), rgba(148, 152, 115, 0.5) 50%, rgba(148, 152, 115, 0) 90%);
  background-image: linear-gradient(left, rgba(148, 152, 115, 1), rgba(148, 152, 115, 0.5) 50%, rgba(148, 152, 115, 0) 90%);
  font-size: 1.1em;
  margin: 0 -25px 10px;
  padding: 5px 25px;
  text-transform: capitalize;
  text-shadow: 0 1px 0 #C4C4C4;
}
.admin-section-widget p {
  margin-bottom: 10px;
}

.admin-page-form {
  background-color: #D5F1FE;
  border: 1px solid #91C9DA;
  border-radius: 10px;
  box-shadow: 0 0 10px #BBBBBB inset;
  padding: 20px;
}
.admin-page-form .field {
  margin: 15px;
}
.admin-page-form label {
  font-weight: bold;
  margin-right: 3%;
  text-align: right;
  width: 30%;
}
.admin-page-form .help-text {
  font-size: 0.8em;
  display: block;
  margin-left: 33.5%;
}
.admin-page-form .button {
  padding: 3px 10px;
  font-size: 1.2em;
}
