.admin-page-form label {
  margin-right: 3%;
}

.admin-page-form .account-type-field {
  background: #BFD8E4;
  .border-radius(10px 10px 0 0);
  .box-shadow(0 1px 1px #888888, 0 0 10px #BBBBBB inset);
  margin: -35px -20px 20px;
  padding: 25px 10px 15px 25px;
}

.account-type-field label {
  font: 1.5em Georgia, Times, 'Times New Roman', serif;
}

.account-type-field .account-type {
  font: bold 1.5em Georgia, Times, 'Times New Roman', serif;
}
