@import "../lib.less";

/** Disabling edit-interface elements **/
html { background-color: #DDD; }
.in-canvas .thumb-rail, .resizer.yui3-dd-dragging .thumb-rail { visibility: hidden; }
.widget-styles-enabled .column > .el-leaf-widget:hover:after { display: none; }
.widget-styles-enabled .column > .el-leaf-widget:hover { outline: none; }
.widget-styles-enabled .editable:hover:after { display: none; }
.editable.rich-text { cursor: text; .user-select(text); }
.editable.image-div img { cursor: default; }
.addSectionButton { display: none; }

/** Overriding editbar elements styles **/
#topBar {
    background: #717171;
    border-bottom: 1px solid #efefef;
    .box-shadow(none);
    color: #e3e3e3;
    font: 13px/1.2 "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
}
#topBar .yui3-tabview { overflow: hidden; height: 216px; }
#topBar .yui3-tabview-list { overflow: hidden; height: 30px; padding: 2px 15px 0; }
#topBar .yui3-tab { color: white; margin-right: 15px; }
#topBar .yui3-tab-label { outline: none; text-shadow: 0 0 1px #666; }
#topBar .yui3-tab-label:first-letter { font: 18px/1 bold Helvetica, Arial, sans-serif; }
#topBar .yui3-tab-panel {
    .linear-gradient(#939393, #626262);
    .box-shadow(0 -1px 1px #565656);
    height: 160px;
    padding: 10px 20px;
}
#topBar .yui3-tab-selected {
    background-color: #939393;
    .border-radius(5px 5px 0 0);
    .box-shadow(0 0 3px #404040);
}
#topBar .css-style-form { height: auto; }
#topBar label { font-weight: normal; }
#topBar input[type=text], #topBar input[type=email], #topBar input[type=password] { border: none; .border-radius(4px); padding: 4px; }
#topBar .nav-button {
    background-color: #0083cc;
    border: none;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
    color: #fff;
    padding: 4px 10px;
}
#topBar .nav-button:hover {
    background-color: #008EDD;
    border: none;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
}
#topBar .nav-button:active { .box-shadow(0 0 10px rgba(0, 0, 0, 0.5) inset); }

.wizard-header {
    .linear-gradient(#575757, #3b3b3b);
    height: 20px;
    padding: 5px 20px;
}
.wizard-actions-container { position: absolute; right: 18px; top: 210px; }

.swatch-gallery, .wizard-signup-block {
    border: 1px solid #9D9D9D;
    .border-radius(3px);
    .box-shadow(0 0 6px rgba(0,0,0,0.1) inset);
    height: 70px;
    padding: 10px;
}
.wizard-signup-block {
    float: right;
    height: 90px;
    margin-top: 10px;
    width: 90%;
}
.swatch-gallery > div { cursor: pointer; text-align: center; vertical-align: middle; }
.swatch { .border-radius(5px); font-size: 12px; margin: 0 10%; .border-radius(5px); padding: 4px; }
.swatch img { .border-radius(5px); display: block; margin: 0 auto; max-height: 65px; max-width: 100px; width:100% }
.swatch img:HOVER {.box-shadow(0 0 5px #ddd); border-color: #CCCCCC;}
.font-swatch {
    background-color: #b8b8b8;
    color: #353535;
    font-size: 26px;
    margin: 16px 7px;
    overflow: hidden;
    white-space: nowrap;
}
.logo-swatch {
    background-color: #b8b8b8;
    height: 62px;
}
.font-swatch:hover, .font-swatch.selected,
.logo-swatch:hover, .logo-swatch.selected {
    background-color: #3c3c3c;
    .box-shadow(none); color: #fff;
}

.step-desc { color: #2e2e2e; font-size: 15px; margin: 7px 0 10px; }
.step-info {
    background: url('../../img/wizard-icons.png') no-repeat;
    color: #fff;
    .inline-block();
    margin: 10px 0;
    padding: 3px 0 3px 28px;
}
.tooltip { color: #353535; .box-shadow(1px 1px 3px #777); display: none; padding: 3px 5px; position: absolute; }
input:active + .tooltip, input:focus + .tooltip { .inline-block(); }
.tooltip.left-callout {
    margin-left: 5px;
    width: 300px;
}
.tooltip.left-callout:before {
    content: " ";
    border-color: transparent #ffc transparent transparent;
    border-style: solid;
    border-width: 5px 4px 5px 0;
    position: absolute;
    margin-left: 0;
    left: -4px;
    top: 0;
}
.tooltip.top-callout, .tooltip.bottom-callout { margin-top: 3px; right: 2px; width: 220px; }
.tooltip.bottom-callout { margin-top: -55px; }
.tooltip.top-callout:before, .tooltip.bottom-callout:before {
    content: " ";
    position: absolute;
    left: 50%;
    border-style: solid;
    margin-left: -5px;
}
.tooltip.top-callout:before {
    border-color: transparent transparent #ffc;
    border-width: 0 5px 4px;
    top: -4px;
}
.tooltip.bottom-callout:before {
    border-color: #ffc transparent transparent;
    border-width: 4px 5px 0;
    bottom: -4px;
}

.wizard-instr-list {
    background: url("../../img/wizard-icons.png") no-repeat -7px -60px;
    height: 20px;
    margin: 2px 0;
    padding-left: 15px;
}

.field label {
    color: #2e2e2e;
    .inline-block();
    text-align: right;
    width: 25%;
}
.field input { margin: 3px; padding: 2px; width: 65%; }

.fb-login {
    border-left: 1px solid #909090;
    .box-sizing(border-box);
    height: 100%;
    text-align: center;
}

#topBar .wizard-back {
    background-image: url("../../img/wizard-icons.png");
    background-repeat: no-repeat;
    background-position: -7px -21px;
    color: #fff;
    margin: 4px 10px;
    padding-left: 10px;
}
#topBar .wizard-back:hover { text-decoration: underline; }
#topBar .wizard-continue, #topBar .wizard-finish {
    background-image: url("../../img/wizard-icons.png");
    background-repeat: no-repeat;
    background-position: 62px -37px;
    padding: 4px 20px 4px 10px;
}
#topBar .wizard-finish {
    background-image: url("../../img/wizard-icons.png");
    background-position: 46px -37px;
}
#topBar .wizard-continue:hover, #topBar .wizard-finish:hover { background-color: #008edd; }
